/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #100f0f; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #0B8676;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }