  /*---------Fonts----------*/
  @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&display=swap');

  /*---------CSS VARIABLES----------*/
  :root {
    --primary-color: 	hsl(0, 0%, 0%);
    --title-color: hsl(170, 25%, 5%);
    --text-color: hsl(0, 0%, 12%) ;
    --bg-color: hsl(180, 100%, 99%) ;
    --bg-color-alt:hsl(0, 0%, 84%);
    --container-color: hsl(171, 83%, 9%) ;
    --border-color: hsl(210, 2%, 65%) ;
    --first-gradient: linear-gradient(
      0deg,
      var(--bg-color-alt) 0%,
      var(--bg-color) 100%
    );
    --second-gradient: linear-gradient(
      180deg,
      var(--bg-color-alt) 0%,
      var(--bg-color) 100%
    );
    --third-gradient: linear-gradient(
      1800deg,
      var(--bg-color) 0%,
      var(--bg-color) 100%
    );
  
  
    /* ----Typography-------- */
    --body-font: 'Exo 2', sans-serif;
  
    --h1-font-size: 40px;
    --h2-font-size: 24px;
    --h3-font-size: 25px;
    --h4-font-size: 24px;
    --h5-font-size: 22px;
    --biggest-font-size: clamp(1.75rem, 1.4167rem + 1.5238vw, 2.75rem);;
    --largest-font-size: 21px;
    --larger-font-size: 20px;
    --large-font-size: 18px;
    --normal-font-size: 16px;
    --small-font-size: 15px;
    --smaller-font-size: 14px;
    --tiny-font-size: 13px;
  
    /* ----Shadow-------- */
    --shadow: 5px 5px rgb(255 255 255 / 10%);
  
     /* ------Transition-------- */
    --transition: cubic-beizer(0.3, 0, 0.3, 1);
  }
  
  /*---------RESET----------*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  button,
  input,
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  
  body {
   color: var(--text-color);
   background-color: var(--bg-color);
  }
  
  h1,
  h2,
  h3 {
    color: var(--title-color);
    font-weight: 700;
  }
  
  ul {
    list-style: none;
  }
  
  p {
    line-height: 1.7; 
  }
  
  a {
    text-decoration: none;
  }
  
  input,
  textarea,
  button {
    border: none;
    outline: none;
    background: transparent;
  }
  
  button {
    cursor: pointer;
  }
  
  img {
    max-width: 100%;
  }
  
  /* -----REUSABLE CSS CLASSES----- */
  
  .container{
    padding-inline: 12px;
    margin-inline: auto;
  }
  
  .text-cs {
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .home__tag {
    font-weight: 700;
    font-size: var(--h2-font-size);
  }
  
  .home__title {
    font-size: var(--biggest-font-size);
    line-height: 1.2;
    font-weight: 700;
  }
  
  .home__text {
    font-size: var(--large-font-size);
  }
  
  .gameImgBox{
    display: flex;
    align-items: left;
    justify-content: left;
    width:150rem;
  }

  .homeBox{
    justify-content: space-between;
  }
  /* img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
  }
  img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
  }
  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  } */
  .imgBoxControl{
    width: 28%;
    z-index: -1;
    /* margin-right: 5rem;
    margin-top: 5rem; */
}   
  @media (min-width: 0px) and (max-width: 700px) {
    .mainBox{
      flex-direction: column;
    }
    .homeBox{
      flex-direction: column;
    }
    .imgBoxControl{
      /* height: 10rem; */
      width: 20rem;
    }
  }
  @media (min-width: 702px) {
    .resp-box{
      width: 33rem;
      padding: 1rem;
    }
     .textBoxControl{
      width: 50%;
    }
  }
  .about__text{
    font-size: var(--large-font-size);
    margin-block: 25px 28px;
    max-width: 520px;
}

